*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
  color: #fff;
  text-decoration: none;
}
.container{
    display: flex;
    gap: none;
    width: 100%;
    height: 100vh;
}

.left{
    /* position: relative; */
    background: #390ABE;
    height: 100vh;
    width: 15%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.right{
    width: 85%;
    height: 100vh;
}
.profile, .profile>img{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
}

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 40px;
}
.footer{
  background: #111;
  /* position: absolute; */
  height: 70px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 15px;
  margin-top: 100px;
  }

.blog{
    width: 300px;
    height: 300px;
    box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-bottom: 20px;
}
.blog>img{
  width: 300px;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
}
.blog-cont p{
  font-size: 13px;
  color: #111;
}
.blog-icons{
  width: 100px;
  display: flex;
  position: relative;
  left: 150px;
  justify-content: space-between;
}
.blog-icons > span{
  margin-left: 20px;
}
figcaption{
  color: lightgray;
}
.side-container{
  display: flex;
  height: 65vh;
}

.side-icons, .side-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right:10px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #390ABE;
}
.hamburger{
  display:none;
}

@media only screen and (max-width: 700px){
  .left{
    width: 80%;
    position: fixed;
    left: -100%;
    transition: 0.3s;
    height: 100vh;
  }
  .left.active{
    left: 0;
    
  }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index:1;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background:#f33052;
    z-index: 1 !important;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background:#f33052;
    z-index: 1 !important;
}
.right div{
  display: flex;
  flex-direction: column;
}
.hamburger{
  position: relative;
  left:70px;
}
.blog{
  width: 70%;
}
.blog-icons span{
  margin: 0;
  display: none;
}
.blog-icons{
  display: none;
  background: red;
  width: 70px;
  flex-direction: column-reverse;

}
.blog img{
  width: 100%;
}
}