* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
}
.dark-part {
  background: #111;
  width: 100%;
  height: 60vh;
}
.upper-nav {
  width: 100%;
  height: auto;
  background: #f33052;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 20px;
}
.upper-nav > div > span {
  margin-left: 20px;
  color: #fff;
}
.nav-links{
  display: flex;
  justify-content: space-between;
}

.hamburger{
  display:none;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.nav-links ul li {
  color: #fff;
  margin-left: 15px;
  cursor: pointer;
}
.logo {
  color: #fff;
  margin-left: 20px;
}
.login {
  border-bottom: 2px solid #f33052;
}

.contact-btn {
  background: #f33052;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 100px;
  border: none;
}
.short-desc {
  margin-top: 50px;
  color: #fff;
  margin-left: 100px;
}
.short-desc p {
  width: 30%;
  margin-bottom: 30px;
}
svg {
  /* background: red; */
  width: 40%;
  margin-left: 700px;
  height: 400px;
  margin-top: -200px;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgb(243, 48, 82);
}
.about-content {
  width: 400px;
}
.circle-sm {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: rgba(251, 129, 149, 0.9);
  margin-top: 20px;
  margin-left: 50px;
}
.img-sm {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 30px;
}

.line {
  width: 250px;
  height: 2px;
  background: #f33052;
  margin: 10px;
}
.icons span {
  margin: 10px;
}
.center {
  text-align: center;
}
.color {
  color: #f33052;
  margin-top: 20px;
}

.out {
  width: 200px;
  height: 7px;
  background: #888;
  border-radius: 0px, 10px, 10px, 0px;
}

.inside {
  width: 170px;
  height: 7px;
  background: #f33052;
}

.skills {
  position: relative;
  right: 80px;
  width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
}
.services {
  width: 400px;
  text-align: center;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 60px;
  left: 30px;
}
.services .box {
  width: 300px;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.icon-box {
  background: #f33052;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-pencil-square-o {
  width: 200px;
}

.port-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portifolio {
  /* background: hotpink; */
  width: 50%;
}

.div1 {
  grid-area: div1;
  height: 20vh;
}
.div2 {
  grid-area: div2;
  height: 20vh;
}
.div3 {
  grid-area: div3;
  height: 40vh;
}
.div4 {
  grid-area: div4;
  height: 40vh;
}

.portifolio {
  display: grid;
  grid-template-areas:
    "div1 div1 div1 div2 div2 div2"
    "div3 div3 div4 div4 div4 div4";
  gap: 10px;
  padding: 10px;
}
.portifolio > div {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portifolio > div> img{
    object-fit: cover;
    width: 320px;
}

.long-img{
    height: 40vh;
    position: relative;
}
.short-img{
    height: 20vh;
    position: relative;
}

.top{
    margin-top: 50px;
}

.mid-2{
    margin-bottom: 60px;
    height: 60vh;
}

.blogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 40px;
}
.blogs>div{
    margin-right: 10px;
}

.blog{
    width: 300px;
    height: 300px;
    box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.blog>img,.blog>a>img{
  width: 300px;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
}
.blog-cont p{
  font-size: 13px;
  color: #111;
}
.blog-icons{
  width: 100px;
  display: flex;
  position: relative;
  left: 150px;
  justify-content: space-between;
}
.blog-icons > span{
  margin-left: 20px;
}

.more{
  color: #888;
}

.footer{
background: #111;
/* position: absolute; */
height: 70px;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
color: #888;
font-size: 15px;
margin-top: 100px;
}
.center>a{
  /* margin-top: 150px; */
  position: relative;
  top: 50px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media screen and (max-width: 700px){
  .nav-links{
    align-items: center;
  }
  .hamburger{
    margin-right: 10px;
  }
  .nav-links ul{
      position: fixed;
      left: -100%;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
      height: 50vh;
      justify-content: space-evenly;
      z-index: 1;
      /* margin-top: 50px */
      top: 0;
  }
  .nav-links ul.active{
    left:0;
  }

  .nav-links ul li a {
    color: #111;
    margin: 0 !important;
    padding: 0 !important;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1 !important;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background:#f33052;
    z-index: 1 !important;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background:#f33052;
    z-index: 1 !important;
}

  .upper-nav{
    display:none;
  }
  .short-desc{
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    top: 20%;
    font-size: 10px;
    height: 30vh;
  }
  .short-desc>*{
    font-size: 20px;
  }
  .short-desc h2{
    text-align: center;
    margin-bottom: 20px;
  }
  .short-desc p {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .about-content{
    margin: auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact-btn{
    position: absolute;
    left: 40%;
    top: 210px;
  }

  .contact-btn>a{
    color: #fff;
    text-decoration: none;
  }
  .dark-part{
    height: 60vh;
  }
  .mid>*{
    display: block;
  }
  .skills{
    display: block;
  }

  .portifolio {
    display: flex;
    flex-direction: column;
  }
  .blogs{
   display: grid;
   grid-template-columns: 1fr 1fr;
  }
  .blog{
   position: relative;
   left: 10px;
   margin-bottom: 15px;
  }

  .circle{
    margin: auto;
  }

  .mid-2{
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
  }
  .mid-2 > div{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
  }
  .skills{
    margin-bottom: 40px;
  }
  .contact-btn{
    position: absolute;
    margin: auto;
  }
}

@media only screen and  (min-width: 701px) and (max-width: 1000px) {
  .blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: auto;
    gap: 20px;
  }
  .portifolio{
    width: 100%;
  }

  .nav-links .responsive ul li {
    float: none;
    display: block;
    text-align: center;
    color: #fff;
  }

  .fa-bars{
    font-size: 25px;
  }
 
  .dark-part{
    height: 70vh;
  }
  .short-desc p{
    width: 70%;
  }
  .circle {
    width: 270px;
    height: 270px;
  }
  .circle-sm {
    width: 240px;
    height: 240px;
  }
  .about{
    width: 100%;
  }

  .mid-2 >div{
    position: relative;
    top: 0;
    right: 0;
  }
}