.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.right input{
    outline: none;
    width: 60%;
}
.right textarea{
    outline: none;
}

.side-container{
    display: flex;
    height: 65vh;
}

.side-icons, .side-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right:10px;
}
.btns{
    display: block;
}
.btns button{
    margin-top: 30px;
    width: 100px;
    height: 35px;
    background: #390ABE;
    outline: none;
    color: #fff;
    border:none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    textarea{
        width: 90%;
    }
    .right{
        align-items: center;
    }
}