*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
    position: relative;
    top: 50px;
}
.center{
    text-align: center;
}

.upper{
    display: flex;
    
}
.lower{
    display: flex;
    justify-content: space-around;
}
.side-icons{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50px;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    width: 20%
}
.div{
    width: 80%;
}
.div img{
    position: relative;
    width: 80%;
}
.content{
    width: 70%;
}
.other-b{
    width: 20%;
    padding: 5px;
}
.other-b> div{
    box-shadow: 5px 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    height: auto;
}
.other-b> div:hover{
    background: lightblue;
}
.side-icons span{
    border: 1px solid #111;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer
}

.comment  input,.comment textarea{
    display: block;
    width: 50%;
    background: transparent;
    border-bottom: 2px solid #888;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-bottom: 10px;
}
.comment{
    margin-top: 30px;
}
.footer{
    background: #111;
    /* position: absolute; */
    height: 70px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 15px;
    margin-top: 100px;
}

.comment .btn{
    background: #390ABE;
    color: #fff;
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    border: none;
}

.fa-arrow-left{
    margin-left: 50px;
    margin-top: 40px;
}

@media screen and (max-width: 700px) {
    .lower{
        flex-direction: column;
    }
    .content{
        width: 100%;
    }
    .div> img{
        width: 100%;
    }
    .side-icons span{
        width: 20px;
        height: 20px;
    }
    .side-icons{
        position: relative;
        top: -30px;
    }
    .other-b{
        width: 100%;
        margin-top: 10px;
    }
    .comment input, .comment textarea{
        width: 100%;
    }
    .back{
        color: #000;
    }
}